* {
    box-sizing: border-box;
}

#container {
    text-align: center;
    width: 800px;
    height: 800px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
}

.box {
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

#gridsize {
    text-align: center;
}